body{
    background-image:url(bg-7-full.jpg)
}







.title{
 text-align:center;
    color: rgb(15, 15, 15);
    background-color:rgb(229,230,215);
    width:30%;
    margin-left:34%;
    padding:10px;
    border: solid rgb(0, 0, 0) 3px;    
    }


    .Images{
        text-align:center;
        color: rgb(15, 15, 15);
        background-color:rgb(229,230,215);
        width:30%;
        margin-left:34%;
        padding:10px;
        border: solid rgb(0, 0, 0) 3px;    
        }


        .explain{
            text-align:center;
            color: rgb(15, 15, 15);
            background-color:rgb(229,230,215);
            width:30%;
            margin-left:34%;
            padding:10px;
            border: solid rgb(0, 0, 0) 3px;}    
    
        
            .column {
                float: left;
              }
              
              .left {
                width: 50%;
              }
              
              .right {
                width: 50%;
              }

              .container{
                width:50%;
                margin-left:25%;
              } 


              .hobbies{
                text-align:center;
                color: rgb(15, 15, 15);
                background-color:rgb(229,230,215);
                width:30%;
                margin-left:34%;
                padding:10px;
                border: solid rgb(0, 0, 0) 3px;}

                .things{
                  text-align:center;
                  color: rgb(15, 15, 15);
                  background-color:rgb(229,230,215);
                  width:30%;
                  margin-left:34%;
                  padding:10px;
                  border: solid rgb(0, 0, 0) 3px;}    
          
              
              
             
            
                

            
         
                

            
        

            
            
                
                
          

